@import "tailwindcss";

/* global.css */

body {
  min-height: 100vh;
  width: 100%;
  margin: 0;
  background: radial-gradient(125% 125% at 50% 100%, #000000 40%, #010133 100%);
  background-attachment: fixed; /* <- makes the background stay in place */
  background-repeat: no-repeat; /* optional, prevents tiling */
  background-size: cover;       /* optional, ensures it covers the viewport */
}

html {
  scroll-behavior: smooth;
}

/* Ensure the section has a fixed height and allows scrolling */
.section-wrapper {
  max-height: 80vh;  /* Adjust the height based on your preference */
  overflow-y: auto;  /* Enables vertical scrolling */
  padding-right: 10px;  /* Optional: to prevent clipping of content */
}




html {
  scroll-behavior: smooth;
}